#userProfile {
  display: inline-block;
  margin-left: 13%;

}

#userProfile ul li {
  width: 230px;
}

#userImg {

display: inline-block;
  
margin: 10px;
margin-bottom: 60px;
}

.list-group {
  margin: 30px;
  width: 50%;
}