#userProfile {
  display: inline-block;
  margin-left: 10%;
  width: 50%;

}

#userProfile ul li {
  width:120%;
}

#userImg {

display: inline-block;
  
margin: 10px;
margin-bottom: 60px;
margin-right: 2px;
margin-left: 3%;
}

.list-group {
  margin: 30px;
  width: 50%;
}

#inputGroup{

 width: 80%; 
}